.primary {
    background-color: #141C25;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.secondary {
  background-color: #6366F1;
  color: #ffffff;
}

.danger {
  background-color: #EF4444;
  color: #ffffff;
}